<!DOCTYPE html>
<html>
<body>

<div id="myUsername">
<h2>Get Score</h2>
<form action="/" method="POST">
  <input type="username" id="myUsername" placeholder="Username">
<input type="submit" value="Get Score">
</form>
</div>

<script>
url='http://131.247.210.6:8000/id'
function loadDoc() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(response.status == 200){
        const username = response.data.id; 
        const score = response.data.score;
      }
    else(    
          post("http://131.247.210.6:8000/id", { score: 0 }))}
        
        xhttp.open("GET", "http://131.247.210.6:8000/", true);
        xhttp.send()  
    }

function post(url, data) {
  data = JSON.stringify(data);
  return new Promise((resolve, reject) => {
    const http = new XMLHttpRequest();
    http.onload = function() {
      resolve({ status: http.status, data: JSON.parse(http.response) });
    };
    http.open("POST", url);
    http.setRequestHeader("Content-Type", "application/json");
    http.send(data);
  });

xhttp.open("GET", "http://131.247.210.6:8000/", true);
xhttp.send()
}

@typedef {{id: string; score: number}}
</script>

</body>
</html>