{% extends "layout.htm" %}
{% block title %}
Login
{% endblock %}
{% block content %}
{% block body %}
{% if session['logged_in'] %}
 
You're logged in already!
 
{% else %}
<form action="/" method="POST">
  <input type="username" id="username" placeholder="Username">
<input type="submit" value="Go">
</form>{% endif %}
{% endblock %}
{% endblock %}